/* custom properties -----------------------------------------------------------*/
:root {
  --first-color: rgba(7, 26, 38);
  --second-color: rgba(34, 68, 89);
  --third-color: rgba(74, 115, 140);
  --four-color: rgba(99, 140, 166);
  --white-color: rgba(242, 242, 242);
  --black-color: rgba(22, 21, 21);
  --font-primary: "Raleway", sans-serif;
  --font-secundary: "Roboto", sans-serif;
}

/* reset styles  ---------------------------------------------------------------*/
body {
  font-family: var(--font-primary);
}
html {
  scroll-behavior: smooth;
}

/* bootstrap styles modified (A-Z) ----------------------------------------------*/
/*navbar*/
.navbar {
  background-color: var(--third-color);
}
.nav-item,
.nav-link {
  color: var(--white-color);
}
.nav-item:hover,
.nav-link:hover {
  color: var(--black-color);
  font-weight: 900;
}
.navbar-toggler {
  color: var(--white-color);
  border: none;
}
.navbar__icon__icon {
  font-size: 2.2em;
}
.navbar__icon__icon:hover {
  font-size: 2.2em;
  background-color: var(--second-color);
  border-radius: 4px;
  padding: 1px;
}

/* styles this section ---------------------------------------------------------*/
/*navbar*/
.navbar {
  border-bottom: solid var(--second-color) 1px;
}
.logotipo__txtImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logotipo__txtImg .navbar__img {
  width: 30px;
  border-radius: 20%;
  border: var(--white-color) 1px solid;
}
.logotipo__txtImg .navbar__txt {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-family: "Ralewey";
}
.navnar__btn {
  color: var(--white-color);
  border: var(--white-color) 1px solid;
}
.navnar__btn:hover {
  color: var(--white-color);
  border: var(--black-color) 1px solid;
  background-color: var(--black-color);
}
