/* custom properties -----------------------------------------------------------*/
:root {
  --first-color: rgba(7, 26, 38);
  --second-color: rgba(34, 68, 89);
  --third-color: rgba(74, 115, 140);
  --four-color: rgba(99, 140, 166);
  --white-color: rgba(242, 242, 242);
  --black-color: rgba(22, 21, 21);
  --font-primary: "Raleway", sans-serif;
  --font-secundary: "Roboto", sans-serif;
}

/* reset styles  ---------------------------------------------------------------*/
body {
  font-family: var(--font-primary);
}
html {
  scroll-behavior: smooth;
}

/* bootstrap styles modified (A-Z) ----------------------------------------------*/
/*header*/
.card {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 17rem;
  height: 17rem;
  margin-top: 10px;
  background-color: var(--white-color);
  box-shadow: 0 4px 8px var(--white-color);
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: var(--white-color) 1px solid;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px var(--third-color);
}

/*navbar*/
.navbar {
  background-color: var(--third-color);
}
.nav-item,
.nav-link {
  color: var(--white-color);
}
.nav-item:hover,
.nav-link:hover {
  color: var(--black-color);
  font-weight: 900;
}
.navbar-toggler {
  color: var(--white-color);
  border: none;
}
.navbar__icon__icon {
  font-size: 2.2em;
}
.navbar__icon__icon:hover {
  font-size: 2.2em;
  background-color: var(--second-color);
  border-radius: 4px;
  padding: 1px;
}

/* styles this section ---------------------------------------------------------*/
/*header*/
.header {
  background-image: url(/front/assets/images/index.html/header_fondo1.webp);
  background-position: center;
  background-size: cover;
  object-fit: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__imagen {
  margin-top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}
.header__img {
  display: flex;
  width: 35%;
  height: 100%;
}
.container__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.header_coverdCard:hover,
.cards:hover {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/*navbar*/
.navbar {
  border-bottom: solid var(--second-color) 1px;
}
.logotipo__txtImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logotipo__txtImg .navbar__img {
  width: 30px;
  border-radius: 20%;
  border: var(--white-color) 1px solid;
}
.logotipo__txtImg .navbar__txt {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-family: "Ralewey";
}
.navnar__btn {
  color: var(--white-color);
  border: var(--white-color) 1px solid;
}
.navnar__btn:hover {
  color: var(--white-color);
  border: var(--black-color) 1px solid;
  background-color: var(--black-color);
}

/*main*/
.main {
  background-color: var(--first-color);
  padding: 1em;
}
.generoMovie {
  gap: 25px;
  margin: auto;
  border-radius: 1em;
  background-color: var(--second-color);
  height: 550px;
  width: 100%;
  max-height: 550px;
  overflow: auto;
  position: relative;
}
.generoMovie aside div {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  overflow: hidden;
}
.generoMovie__title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: var(--third-color);
}
.generoMovie__tit {
  margin-top: 10px;
  color: var(--white-color);
  text-transform: uppercase;
  font-family: "Roboto";
}
.movies {
  margin-top: 3em;
}
.cardA {
  width: auto;
  height: auto;
  display: flex;
  height: auto;
  overflow: hidden;
}
.subCardA {
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subCardA:hover {
  z-index: -1;
}
.imgA {
  width: 150px;
  height: 240px;
  object-fit: cover;
  z-index: inherit;
}
.titleA {
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.7);
  color: var(--black-color);
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
}
.infoA {
  top: -12px;
  left: 0px;
  width: 100%;
  height: 105%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  color: var(--white-color);
  font-weight: 900;
  border-radius: 8px;
  z-index: -1;
}
.infoA p,
.infoA p span {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: -35px;
}
.infoA:hover,
.infoA:active {
  z-index: 1;
}

/* media querys ----------------------------------------------------------------*/
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 300px) {
  .header__imagen .header__img {
    width: 17rem;
  }
  .container .container .container__cards {
    display: none;
  }
}

@media (max-width: 350px) {
  .header__imagen .header__img {
    width: 20rem;
    padding: 0;
  }
}

@media (max-width: 576px) {
  .header__imagen .header__img {
    width: 17rem;
  }
  .container .container .container__cards {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .header__img {
    width: 30rem;
    height: auto;
  }
  .container .container .container__cards {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .header__img {
    width: 30rem;
    height: auto;
  }
  .container .container .container__cards {
    display: none;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
